# Mac
.DS_Store

# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*
yarn-error.log

# next.js build directory
.next

# next-mdx-enhanced cache directory
.mdx-data

.cache
