.SecureApp {
  box-sizing: border-box;
  max-width: 600px;
  margin: 20px auto;
  padding: 0 20px;

  textarea {
    box-sizing: border-box;
    display: block;
    height: 300px;
    line-height: 1.2;
    padding: 8px;
    width: 100%;
  }

  button,
  input {
    box-sizing: border-box;
    display: block;
    padding: 8px;
    width: 100%;
  }

  button,
  input,
  textarea {
    border-radius: 4px;
    font-size: 100%;
    margin: 20px 0;
  }

  button,
  input[type='submit'] {
    background: var(--accent-color);
    border: none;
    color: var(--background-color);
    cursor: pointer;

    &:hover:not(:disabled) {
      background: var(--accent-color-hover);
    }
  }
}
